
# Simulation project
sim/
fv/check*
fv/artifacts/*
fv/verific/artifacts/*
fv/verific/source.me
out/*

# Demos
demo/basys3/scripts/.*
# Push reports for comparison, exlude bitfile due to size
demo/basys3/out/design.bit
demo.gen/